<footer class="site-footer">
  <div class="container">
    <div class="site-footer__logo">
      <a class="brand brand--footer" href="index.html" aria-label="Class2Learn home">
        <img src="../assets/home/C2L Logo.png" alt="Class2Learn logo">
      </a>
    </div>

    <div class="site-footer__grid">
      <div>
        <h3>Our Programs</h3>
        <a href="../templates/about-us.html">About Us</a>
        <a href="../templates/index.html">CSR</a>
        <a href="../templates/index.html">B2B</a>
        <a href="../templates/index.html">Scholarship</a>
        <a href="../templates/blogs.html">Blogs</a>
        <a href="../templates/sitemap.html">Sitemap</a>
        <a href="../templates/index.html">Our Team</a>
      </div>

      <div>
        <h3>Resources</h3>
        <a href="../templates/faq.html">Frequent Questions</a>
        <a href="../templates/contact.html">Contact Us</a>
      </div>

      <div>
        <h3>Legal</h3>
        <a href="../templates/terms-and-conditions.html">Terms And Conditions</a>
        <a href="../templates/tutor-agreement.html">Teachers Agreement</a>
        <a href="../templates/child-safety-policy.html">Child Safety Policy</a>
        <a href="../templates/code-of-conduct.html">Code of Conduct</a>
        <a href="../templates/privacy-policy.html">Privacy policy</a>
        <a href="../templates/disclaimer.html">Disclaimer</a>
        <a href="../templates/accessibility-statement.html">Accessibility Statement</a>
      </div>

      <div>
        <h3>Contact</h3>
        <p>eGrove Systems Corporation,</p>
        <p>2G Auer Ct.,</p>
        <p>East Brunswick, NJ 08816</p>
        <a href="mailto:contact@class2learn.com">contact@class2learn.com</a>
      </div>
    </div>

    <div class="site-footer__social" aria-label="Social links">
      <a href="https://x.com/Class2Learn" aria-label="Twitter" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="https://wa.me/919876543210?text=Hi!%20I%20am%20interested%20in%20Class2Learn.%20Can%20you%20help%20me?"  target="_blank" rel="noopener noreferrer" aria-label="WhatsApp"><i class="fa-brands fa-whatsapp"></i></a>      
      <a href="https://www.facebook.com/Class2LearnUSA/" aria-label="Facebook" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/class2learn_usa/" aria-label="Instagram" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/class2learn-usa-8971b125b/" aria-label="LinkedIn" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
    </div>
  </div>

  <a href="javascript:void(0)" id="scrollTopBtn" aria-label="Go to top">
    <img src="../assets/home/faq-arrow.png" alt="Scroll to top">
  </a>

</footer>
