<header class="site-header" id="header">
  <div class="container site-header__inner">
    <a class="brand" href="index.html" aria-label="Class2Learn home">
      <img src="../assets/home/C2L Logo.png" alt="Class2Learn logo">
    </a>

    <input class="nav-toggle" type="checkbox" id="nav-toggle" aria-label="Open navigation">

    <label class="nav-toggle__button" for="nav-toggle" aria-hidden="true">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <label class="nav-overlay" for="nav-toggle" aria-hidden="true"></label>

    <nav class="site-nav" aria-lab  el="Primary navigation">
      <div class="nav-item has-submenu">
        <a href="#" class="nav-link-with-icon">K - 12</a>
        <img src="../assets/home/faq-arrow.png" class="nav-arrow" alt="arrow">

        <div class="submenu">
          <a href="../templates/private-class.html">Private Classes</a>
          <a href="../templates/group-class.html">Group Classes</a>
        </div>
      </div>
      <a href="../templates/sat-act.html">SAT/ACT</a>
      <a href="#">JEE/NEET</a>
      <a href="../templates/adaptive-test.html">Adaptive Test</a>
      <a href="../templates/about-us.html">About</a>
      <a href="../templates/contact.html">Contact</a>
      <a class="site-nav__phone" href="tel:+17326609537">+1 7326609537</a>
      <a class="button button--small button--nav" href="../templates/signin.html">SIGN IN</a>
    </nav>

    <a class="button button--small button--desktop-only" href="../templates/signin.html">SIGN IN</a>
  </div>
</header>
