<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accessibility Statement - Class2Learn</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/global_styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="icon" type="image/png" href="../assets/home/C2L Fav.png">
</head>
<body>
  <div data-include="../components/header.html"></div>
  <main id="private-class" class="policy-agreement">
    <section class="hero-section">
      <div class="heading-content">
          <h1 class="eyebrow"><span>Accessibility Statement</span></h1>
      </div>
    </section>

    <section class="agree-content">
      <div class="agree-action-cards">
        <ul class="check-list">
          <li>This accessibility statement outlines our commitment to providing an inclusive and accessible experience for all users.</li>
          <li>We strive to ensure that our platform is usable by people with disabilities.</li>
        </ul>
      </div>
    </section>

    <section class="agreement-content">
      <div class="action-cards">
        <h2 class="eyebrow">Accessibility Commitment</h2>
        <p>At Class2learn, we are dedicated to creating a digital environment that is accessible and inclusive for everyone, regardless of ability. We adhere to recognized accessibility standards, such as the Web Content Accessibility Guidelines (WCAG) 2.1, to ensure our website meets diverse user needs.</p>
        <hr>
        <h2 class="eyebrow">Feedback on Accessibility</h2>
        <p>Your feedback is essential to our ongoing accessibility efforts. If you experience any accessibility issues while navigating our website, please reach out to us at <a href="mailto:contact@class2learn.com">contact@class2learn.com</a>. Be sure to include details about the specific page or resource involved so we can promptly address the issue.</p>
      </div>
    </section>

    <section class="tutor-agreement-footer">
      <div class="container why-section__inner">
        <div class="section-copy">
          <h2 class="eyebrow">Become Part of <br><span>Our Team</span></h2>
          <div class="text-button">
            <p>Join Our Team at Class2Learn, an innovative online learning platform committed to providing high-quality education to learners worldwide.</p>
          </div>
          <div class="cta-actions__buttons">
            <a class="button button--large" href="../templates/tutor-registration.html">Join as a Tutor</a>
            <a class="button button--outline button--large" href="#">View All</a>
          </div>
        </div>
      </div>
    </section>
  </main>

  <div data-include="../components/footer.html"></div>
  <script src="../js/script.js"></script>
</body>
</html>
