<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blogs - Class2Learn</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/global_styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="icon" type="image/png" href="../assets/home/C2L Fav.png">
</head>
<body>
  <div data-include="../components/header.html"></div>
  <main id="private-class" class="blogs-page">
    <section class="hero-sections">
      <div class="container hero-pvt">
        <div class="hero_pvt__visuals">
          <h1 class="hero-sections__title eyebrow">Learning Meets <br>Innovation and Insight</h1>
        </div>
      </div>
    </section>
    
    <section class="tutor-carding">
      <div class="action-card" id="action-contact">
        <div class="action-card__content card-1">
          <img src="../assets/blogs/Technology.png" alt="Technology">
          <p>Technology</p>
        </div>
        <div class="action-card__content card-2">
          <img src="../assets/blogs/Learning.png" alt="Learning">
          <p>Learning</p>
        </div>
        <div class="action-card__content card-3">
          <img src="../assets/blogs/Exam.png" alt="Exam">
          <p>Exam</p>
        </div>
      </div>
    </section>

    <section class="blogs-grid">
      <div class="container">
        <div class="blogs-grid__wrapper">
          <article class="blog-card">
            <div class="blog-card__image">
              <img src="../assets/blogs/blog1.png" alt="AI in Education">
            </div>
            <div class="blog-card__content">
              <span class="blog-card__tag">Technology</span>
              <h2 class="blog-card__title">AI in Education</h2>
              <p class="blog-description"> How artificial intelligence is reshaping classrooms by optimizing smarter teaching methods.</p>
              <p class="blog-card__date"><i class="fa-solid fa-clock-rotate-left"></i>2 days ago</p>
            </div>
          </article>

          <article class="blog-card">
            <div class="blog-card__image">
              <img src="../assets/blogs/blog2.png" alt="Smart Learning Tools">
            </div>
            <div class="blog-card__content">
              <span class="blog-card__tag">Learning</span>
              <h2 class="blog-card__title">Mastering Concepts with Smart Learning Tools</h2>
              <p class="blog-description">Learn how AI-powered tools enhance understanding.</p>
              <p class="blog-card__date"><i class="fa-solid fa-clock-rotate-left"></i>2 days ago</p>
            </div>
          </article>

          <article class="blog-card">
            <div class="blog-card__image">
              <img src="../assets/blogs/blog3.png" alt="AI in Classroom">
            </div>
            <div class="blog-card__content">
              <span class="blog-card__tag">Technology</span>
              <h2 class="blog-card__title">AI in the Classroom: Friend or Foe?</h2>
              <p class="blog-description">Understand the role of AI in overcoming challenges.</p>
              <p class="blog-card__date"><i class="fa-solid fa-clock-rotate-left"></i>2 days ago</p>
            </div>
          </article>

          <article class="blog-card">
            <div class="blog-card__image">
              <img src="../assets/blogs/blog4.png" alt="Personalized Learning">
            </div>
            <div class="blog-card__content">
              <span class="blog-card__tag">Learning</span>
              <h2 class="blog-card__title">The Future of Personalized Learning</h2>
              <p class="blog-description">Explore how adaptive learning is based on student...</p>
              <p class="blog-card__date"><i class="fa-solid fa-clock-rotate-left"></i>2 days ago</p>
            </div>
          </article>

          <article class="blog-card">
            <div class="blog-card__image">
              <img src="../assets/blogs/blog1.png" alt="Digital Era Skills">
            </div>
            <div class="blog-card__content">
              <span class="blog-card__tag">Technology</span>
              <h2 class="blog-card__title">Top Skills Students Need in the Digital Era</h2>
              <p class="blog-description">Identify the essential skills required for future success.</p>
              <p class="blog-card__date"><i class="fa-solid fa-clock-rotate-left"></i>28 days ago</p>
            </div>
          </article>

          <article class="blog-card">
            <div class="blog-card__image">
              <img src="../assets/blogs/blog2.png" alt="Student Performance">
            </div>
            <div class="blog-card__content">
              <span class="blog-card__tag">Learning</span>
              <h2 class="blog-card__title">Enhancing Student Performance</h2>
              <p class="blog-description">Discover how analytics and performance tracking help identify gaps.</p>
              <p class="blog-card__date"><i class="fa-solid fa-clock-rotate-left"></i>1 month ago</p>
            </div>
          </article>

          <article class="blog-card">
            <div class="blog-card__image">
              <img src="../assets/blogs/blog3.png" alt="Modern Education">
            </div>
            <div class="blog-card__content">
              <span class="blog-card__tag">Technology</span>
              <h2 class="blog-card__title">The Role of Technology in Modern Education</h2>
              <p class="blog-description">Explore how digital platforms and smart tools are...</p>
              <p class="blog-card__date"><i class="fa-solid fa-clock-rotate-left"></i>1 month ago</p>
            </div>
          </article>

          <article class="blog-card">
            <div class="blog-card__image">
              <img src="../assets/blogs/blog4.png" alt="STEM Careers">
            </div>
            <div class="blog-card__content">
              <span class="blog-card__tag">Learning</span>
              <h2 class="blog-card__title">Career Opportunities in STEM and AI</h2>
              <p class="blog-description">Gain insights into emerging career paths in science, technology, engineering...</p>
              <p class="blog-card__date"><i class="fa-solid fa-clock-rotate-left"></i>1 month ago</p>
            </div>
          </article>
        </div>

        <div class="blogs-grid__footer">
          <button class="button button--outline">READ MORE</button>
        </div>
      </div>
    </section>
    

    <section id="blog-last">
      <div id="subscribe">
        <h2 class="eyebrow"><span>NEWSLETTER</span><br>Stay Ahead with AI insight</h2>
        <form class="subscribe-form">
          <input type="email" placeholder="Enter email to subscribe" required>
          <button type="submit" class="button">Subscribe</button>
        </form>
      </div>
    </section>
    
  </main>

  <div data-include="../components/footer.html"></div>
  <script src="../js/script.js"></script>
</body>
</html>
