<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up - Class2Learn</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/global_styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="icon" type="image/png" href="../assets/home/C2L Fav.png">
</head>
<body>
  <div data-include="../components/header.html"></div>
  <main id="private-class" class="sign-up-main">
    <section class="sign-in-section">
      <div class="enquiry-wrapper" id="sign-in-up-form">
        <div class="enquiry_contact">
          <h2 class="eyebrow"><span>Create account</span></h2>
          <p class="yes-no-account">Already having an account? <a href="../templates/signin.html">Sign in</a></p>
          <form>
            <div class="form-row">
              <div class="form-group">
                <input type="text" placeholder="Parent's First Name" required>
              </div>

              <div class="form-group">
                <input type="text" placeholder="Parent's Last Name" required>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <input type="text" placeholder="Student's First Name" required>
              </div>

              <div class="form-group">
                <input type="text" placeholder="Student's Last Name" required>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <input type="date" placeholder="Student's DOB" required title="Please enter a valid date of birth">
              </div>

              <div class="form-group">
                <select required>
                  <option disabled selected >Grade</option>
                  <option>Grade 1</option>
                  <option>Grade 2</option>
                </select>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <input type="email" placeholder="Parent's Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Please enter a valid email address">
              </div>

              <div class="form-group">
                <input type="email" placeholder="Student's Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Please enter a valid email address">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group password-field">
                <input type="password" placeholder="Password" required>
                <i class="fa-solid fa-eye toggle-password"></i>
              </div>

              <div class="form-group password-field">
                <input type="password" placeholder="Confirm Password" required>
                <i class="fa-solid fa-eye toggle-password"></i>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <input type="tel" placeholder="Phone" required pattern="[0-9]{10}" title="Please enter a 10-digit phone number">
              </div>
            </div>

            <div class="form-submit">
              <button type="submit" class="button">SIGN UP</button>
            </div>
          </form>
        </div>
      </div>
    </section>

    <section class="sign-up-footer">
      <div class="container why-section__inner">
        <div class="section-copy">
          <h2 class="eyebrow"><span>Online Learning</span><br>Providing an Amazing Learning Experience</h2>
          <div class="text-button">
            <p>We equip teachers with the training and tools they need to teach at their best.</p>
            <a class="button button--large" href="#cta">Learn More</a>
          </div>
          <div class="cta-actions__buttons">
            <a class="button button--large" href="#">Demo Session &rsaquo;</a>
            <a class="button button--large" href="#">Register Now &rsaquo;</a>
          </div>
        </div>
      </div>
    </section>
  </main>

  <div data-include="../components/footer.html"></div>
  <script src="../js/script.js"></script>
</body>
</html>
